<section class="comments sm-top-buffer col-sm-6 b-2">
  <div class="card bg-light" style="border-radius:0%">
    {{#each this}}
    <section id="{{post_id}}" class="comment mb-2">
      <div class="meta card-header" style="padding:.25em">
        {{user.username}} on {{format_date created_at}}
      </div>
      <div class="text">
        {{comment_text}}
      </div>
    </section>
    {{/each}}
  </div>

</section>