<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>famSpace</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/icofont.min.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <i class="icofont-users-social"></i>
            <h1>
                <a href="/">famSpace</a>
            </h1>
            <nav>
                {{#if loggedIn}}
                <a href="/dashboard">dashboard</a>
                <button id="logout" class="btn-no-style">logout</button>
                {{else}}
                <a href="/login">login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            famSpace &#169;2020
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>