<article class="row top-buffer justify-content-center">
      <div class="col-4 justify-content-center">
            <form action="/api/upload/newPost" class="dropzone" id="dropzone-area"></form>
      </div>
      {{!-- <div class="col-6">
            <section class="card card-body text-center">
                  <h2 class="">Add a Post</h2>
                  <form class="new-post-form">
                        <div>
                              <label class="card-subtitle mb-2 text-muted" for="caption">Caption</label>
                              <textarea class="form-control" type="text" id="post-title" name="caption"
                                    placeholder="e.g. What a great vacation!"></textarea>
                        </div>
                        <button class="btn btn-primary mt-2" type="submit" id="add-post">Create</button>
                  </form>
            </section>
      </div> --}}
</article>



<script src="/dropzone-5.7.0/dist/dropzone.js"></script>
<script src="/javascript/add-post.js"></script>