<section class="card">
    <form class="is-fam-form">

        <h4>Join a fam</h4>

        <div>
            <input class="card-input" type="text" placeholder="Enter your famKey" id="fam-key" />
        </div>

        <div>
            <button class="card-button" type="submit" id="join-fam">CTA</button>
        </div>
    </form>
</section>

<section class="card">
    <form class="new-fam-form">
        
        <h4>Create a fam</h4>

        <div>
            <input class="card-input" type="text" placeholder="What's your family's name?" id="fam-name" />
        </div>

        <div>
            <button class="card-button" type="submit" id="generate-key">generate a fam key</button>
        </div>

        <div>
            <p id="generated-key">Your Key</p>
        </div>

        <div>
            <button class="card-button" type="submit" id="create-fam">done</button>
        </div>
    </form>
</section>

<script src="/javascript/fam-up.js"></script>
<!--<script type="module" src="/javascript/famKey.js"></script>-->