<<<<<<< HEAD

<ol class="post-list">
=======
<ol class="post-list list-unstyled">
>>>>>>> a16202c4ff026d220ee9104c4ba9773508b693cc
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>