<section>
    <div>
        <h2>Dashboard</h2>
    </div>

    <div>
        <h3> {{user.first_name}}</h3>
    </div>

    <div>
        <a href="" id="userImage"></a>
    </div>
    
</section>

<section>
    <input type="" id="dropdown-familial"/>
</section>

<section>
    <form class="dash-form">
        <div>
            <p><i class="icofont-phone"></i></i></p>
            <p id="phone-number-profile">555-555-5555 </p>
        </div>

        <div>
            <p><i class="icofont-birthday-cake"></i></p>
            <p id="birthday-profile"> </p>
        </div>

        <div>
            <p><i class="icofont-ui-home"></i></i></p>
            <p id="address-profile"> </p>
        </div>

        <div>
            <p><i class="icofont-ui-email"></i></i></p>
            <p id="email-profile"> </p>
        </div>
    </form>
</section>

<script src="/javascript/profile.js"></script>