<section class="card">
    <form class="signup-form">

        <h4 class="card-header">Create an Account</h4>

        <div>
            <input class="card-input" type="text" placeholder="first name" id="first-name-signup" />
        </div>

        <div>
            <input class="card-input" type="text" placeholder="last name"id="last-name-signup" />
        </div>

        <h4 class="card-header">Birthdate</h4>

        <div>
            <input class="card-input" type="text" placeholder="MM/DD/YYYY" id="birthdate-signup" />
        </div>

         <div>
            <input class="card-input" type="email" placeholder="email"id="email-signup" />
        </div>

        <div>
            <input class="card-input" type="text" placeholder="username"id="username-signup" />
        </div>     

        <div>
            <input class="card-input" type="password" placeholder="password"id="password-signup" />
        </div>

        <div>
            <button class="card-button" type="submit">sign Up</button>
        </div>

    </form>
</section>

<script src="/javascript/sign-up.js"></script>