<article class="post">
  {{> post-info post}}
</article>


<form>
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button class="button" type="submit">add comment</button>
  </div>
</form>


{{> comments post.comments}}


<script src="/javascript/comment.js"></script>
